<%%@ taglib uri="urn:mace:shibboleth:2.0:idp:ui" prefix="idpui" %>
<%%@ page import="edu.internet2.middleware.shibboleth.idp.util.HttpServletHelper" %>
<%%@ page import="org.opensaml.util.storage.StorageService" %>
<%%@ page import="edu.internet2.middleware.shibboleth.idp.authn.LoginContext" %>
<%%@ page import="edu.internet2.middleware.shibboleth.idp.authn.LoginHandler" %>
<%%@ page import="edu.internet2.middleware.shibboleth.common.relyingparty.RelyingPartyConfigurationManager" %>
<%%@ page import="org.opensaml.saml2.metadata.EntityDescriptor" %>
<%%@ page import="org.opensaml.saml2.metadata.ContactPerson" %>
<%%@ page import="org.opensaml.saml2.metadata.ContactPersonTypeEnumeration" %>
<%%@ page import="java.util.List" %>
<%%@ page import="org.opensaml.saml2.metadata.RequestedAttribute" %>
<%%
   StorageService storageService = null;
   LoginContext loginContext = null;
   RelyingPartyConfigurationManager rpConfigMngr = null;
   EntityDescriptor metadata = null;
   
   try {
      storageService = HttpServletHelper.getStorageService(application);
      loginContext = HttpServletHelper.getLoginContext(storageService,application, request);
      rpConfigMngr = HttpServletHelper.getRelyingPartyConfigurationManager(application);
      metadata = HttpServletHelper.getRelyingPartyMetadata(loginContext.getRelyingPartyId(), rpConfigMngr);   
   }
   catch (Exception e) {
      // Do nothing
   }
%>
<!DOCTYPE html>

  <%%@ taglib uri="urn:mace:shibboleth:2.0:idp:ui" prefix="idpui" %>
  <html>
    <head>
      <meta charset="utf-8" />
      <title><%= metadata_information['en']['orgDisplayName'] %></title>
      <link href="<%= @metadata_information['en']['url_LogoOrg_32x32'] %>" rel="shortcut icon" type="image/x-icon" />
      <link rel="stylesheet" type="text/css" href="<%%= request.getContextPath()%>/login.css"/>
      <script language="javascript">
           function setParam(name, value) {
              var l = window.location;

              /* build params */
              var params = {};        
              var x = /(?:\??)([^=&?]+)=?([^&?]*)/g;        
              var s = l.search;
              for(var r = x.exec(s); r; r = x.exec(s)) {
                 r[1] = decodeURIComponent(r[1]);
                 if (!r[2]) r[2] = '%%';
                 params[r[1]] = r[2];
              }

              /* set param */
              params[name] = encodeURIComponent(value);

              /* build search */
              var search = [];
              for(var i in params) {
                 var p = encodeURIComponent(i);
                 var v = params[i];
                 if (v != '%%') p += '=' + v;
                 search.push(p);
              }
              search = search.join('&');

              /* execute search */
              l.search = search;
           }

           function getParameterByName(name) {
              name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
              var regex = new RegExp("[\\?&]" + name + "=([^&#]*)");
              var results = regex.exec(location.search);
              return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
           }

           var userLang = getParameterByName('lang');

           if (userLang == "") {
              userLang = navigator.language || navigator.userLanguage;
           }

           <% if @metadata_information.include?("it") %>
           if (userLang == "it-IT") {
              document.title("<%= metadata_information['it']['orgDisplayName'] %>");
              //document.write ('<link href="< metadata_information['it']['url_LogoOrg_32x32'] >" rel="shortcut icon" type="image/x-icon" />');

              document.getElementById('logolink').href = '<%= metadata_information['it']['idpInfoUrl'] %>';
              document.getElementById('logoimg').src = '<%= metadata_information['it']['url_LogoOrg_160x120'] %>';
              document.getElementById('logoimg').alt = '<%= metadata_information['it']['orgDisplayName'] %>';
           }
           <% end %>
      </script>
    </head>

    <body><div class="wrapper">
        <div class="container">
          <header>
            <%% if ("true".equals(request.getParameter("spinfo"))) { %>
             <idpui:serviceLogo minWidth="40" minHeight="40">default</idpui:serviceLogo><br/>
             <idpui:serviceDescription>SP description</idpui:serviceDescription><br />
             <a href="javascript:setParam('spinfo', 'false');">Go back to login page</a>
            <%% } else { %>
              <a id="logolink" class="logo" href="<%= metadata_information['en']['idpInfoUrl'] %>"><img id="logoimg" src="<%= metadata_information['en']['url_LogoOrg_160x120']%>" alt="<%= metadata_information['en']['orgDisplayName']%>"/></a><br/><%= metadata_information['en']['orgDisplayName']%>
            <%% } %>
          </header>
      
          <div class="content">
            <%% if ("true".equals(request.getParameter("spinfo"))) { %>
              <ul>
              <li><span class="item-marker">&rsaquo;</span> <b>Description:</b><br/>
              <idpui:serviceDescription>Unknown</idpui:serviceDescription></li>
              <li><span class="item-marker">&rsaquo;</span> <b>Organization:</b><br/>
              <script language="javascript">
                if ('<idpui:organizationDisplayName />') { 
                  document.write('<idpui:organizationDisplayName />');
                }
                else if ('<idpui:organizationName />') { 
                  document.write('<idpui:organizationName />');
                }
                else {
                  document.write('Unknown');
                }
              </script></li>
              <li><span class="item-marker">&rsaquo;</span> <b>Contacts:</b><br/>
              <script language="javascript">
              <%%
                 String contactLinks = "";
                 try {
                   for (ContactPerson contact : metadata.getContactPersons()) {
                     if (ContactPersonTypeEnumeration.TECHNICAL.equals(contact.getType())) {
                       if (!"".equals(contactLinks)) {
                         contactLinks += ", ";
                       }
                       contactLinks += "<a href=\"" + contact.getEmailAddresses().get(0).getAddress() + "\">";
                       contactLinks += contact.getGivenName().getName() + " " + contact.getSurName().getName();
                       contactLinks += "</a>";
                     }
                   }
                 } catch (NullPointerException e){
                   contactLinks = "";
                 }
                 %>
                 var langNoContacts = "No Contact provided";
                 if ('<%%= contactLinks %>' == '') document.write(langNoContacts);
                 else document.write('<%%= contactLinks %>');
              </script></li>
              <li><span class="item-marker">&rsaquo;</span> <b><idpui:servicePrivacyURL cssId="spPrivacyURL" linkText="Privacy Policy">No Privacy Policy specified</idpui:servicePrivacyURL></b></li>
              <li><span class="item-marker">&rsaquo;</span> <b><idpui:serviceInformationURL cssId="spInfoURL" linkText="Information website">No Information website provided</idpui:serviceInformationURL></b></li>
              <li><span class="item-marker">&rsaquo;</span> <b>Requested Attributes:</b><br/>
              <script language="javascript">
                var langPreLink = "<%= @metadata_information['en']['idpInfoUrl'] %>#";
                var langNoAttrs = "No Attributes required";

                <%%
                  String requestedAttributes = "";
                  try {
                    List<RequestedAttribute> itrReqAttr = metadata.getSPSSODescriptor("urn:oasis:names:tc:SAML:2.0:protocol").getDefaultAttributeConsumingService().getRequestAttributes();
                    for (RequestedAttribute reqAttr : itrReqAttr) {
                      if (reqAttr.isRequired()) {
                        if (!"".equals(requestedAttributes)) {
                          requestedAttributes += ", ";
                        }
                              
                        if ("".equals(reqAttr.getFriendlyName())) {
                          requestedAttributes += reqAttr.getName();
                        }
                        else {
                          requestedAttributes += "<a href=\"' + langPreLink + '" + reqAttr.getFriendlyName() + "\">" + reqAttr.getFriendlyName() + "</a>";
                        }
                      }
                    }
                  } catch (NullPointerException e) {
                    requestedAttributes = "";
                  }
            
                  if ("".equals(requestedAttributes)) {
                    %>
                    document.write(langNoAttrs);
                    <%%
                  } else {
                    %>
                    document.write('<%%= requestedAttributes %>');
                  <%%
                  }
                %>
              </script></li>
              <li><span class="item-marker">&rsaquo;</span> <b>Optional Attributes:</b><br/>
              <script language="javascript">
                 var langPreLink = "<%= @metadata_information['en']['idpInfoUrl'] %>#";
                 var langNoAttrs = "No optional Attribute";

                 <%%
                   String desiredAttributes = "";
                   try {
                     List<RequestedAttribute> itrReqAttr = metadata.getSPSSODescriptor("urn:oasis:names:tc:SAML:2.0:protocol").getDefaultAttributeConsumingService().getRequestAttributes();
                     for (RequestedAttribute reqAttr : itrReqAttr) {
                       if (!reqAttr.isRequired()) {
                         if (!"".equals(desiredAttributes)) {
                           desiredAttributes += ", ";
                         }

                         if ("".equals(reqAttr.getFriendlyName())) {
                           desiredAttributes += reqAttr.getName();
                         }
                         else {
                           desiredAttributes += "<a href=\"' + langPreLink + '" + reqAttr.getFriendlyName() + "\">" + reqAttr.getFriendlyName() + "</a>";
                         }
                       }
                     }
                   } catch (NullPointerException e) {
                     desiredAttributes = "";
                   }
                   if ("".equals(desiredAttributes)) {
                     %>
                     document.write(langNoAttrs);
                     <%%
                   } else {
                      %>
                      document.write('<%%= desiredAttributes %>');
                      <%%
                   }
                 %>
              </script></li>           
              </ul>
            <%% } else { %>
            <div class="column one">
              <%% if(request.getAttribute("actionUrl") != null){ %>
                <form id="login" action="<%%=request.getAttribute("actionUrl")%>" method="post">
              <%% }else{ %>
                <form id="login" action="j_security_check" method="post">
              <%% } %>

                <%% if ("true".equals(request.getAttribute("loginFailed"))) { %>
                <section>
                 <%%
                 // Viene richiesto se il login e' fallito e viene segnalato errore di autenticazione
                 if (request.getAttribute(LoginHandler.AUTHENTICATION_EXCEPTION_KEY) != null) {
                    Throwable ex = (Throwable)request.getAttribute(LoginHandler.AUTHENTICATION_EXCEPTION_KEY);
                    if (ex.getMessage().contains("PASSWORD_EXPIRED")) {
                       %>
                       <p class="form-element form-error">Password Expired. <a href='/pw/changepw.php'>Change it</a>.</p>
                       <%%
                    } else if (ex.getMessage().contains("CHANGE_AFTER_RESET")) {
                       %>
                       <p class="form-element form-error">Invalid password. <a href='/pw/changepw.php'>Change it</a>.</p>
                       <%%
                     } else if (ex.getMessage().contains("ACCOUNT_LOCKED")){
                       %>
                       <p class="form-element form-error">Account temporarily locked.</p>
                       <%%
                     } else {
                       %>
                       <p class="form-element form-error">Wrong Username or Password. Try Again.</p>
                       <%%
                     }
                  }
                  %>
                </section>
                <%% } %>

                <legend id="spName">
                  Log in to <idpui:serviceName/>
                </legend>

                <section>
                  <label for="username">Username</label>
                  <input class="form-element form-field" name="j_username" type="text" value="">
                </section>

                <section>
                  <label for="password">Password</label>
                  <input class="form-element form-field" name="j_password" type="password" value="">
                </section>

                <% if @install_uapprove==true -%>
                <section>
                  <input id="uApprove.consent-revocation" type="checkbox" name="uApprove.consent-revocation" value="true"/>
                  <label style="left: 20px; width: auto" for="uApprove.consent-revocation">Clear attribute release consent</label>
                </section>
                <% end -%>

                <section>
                  <button class="form-element form-button" type="submit">Login</button>
                </section>
              </form>
              
              <%%
                //
                //    SP Description & Logo (optional)
                //    These idpui lines will display added information (if available
                //    in the metadata) about the Service Provider (SP) that requested
                //    authentication. These idpui lines are "active" in this example
                //    (not commented out) -- this extra SP info will be displayed.
                //    Remove or comment out these lines to stop the display of the
                //    added SP information.
                //
                //    Documentation: 
                //      https://wiki.shibboleth.net/confluence/display/SHIB2/IdPAuthUserPassLoginPage
                //
                //    Example:
              %>
                    <p>
                      <idpui:serviceLogo minWidth="40" minHeight="40">default</idpui:serviceLogo><br/>
                      <idpui:serviceDescription>SP description</idpui:serviceDescription><br />
                      <a href="javascript:setParam('spinfo', 'true');">More information about the service</a>
                    </p>

          </div>
          <div class="column two">
            <ul class="list list-help"><a href="http://www.idem.garr.it"><img src="<%%= request.getContextPath()%>/images/IDEM_logo.png" alt="IDEM Federation" style="width: 100px"/></a>
              <li class="list-help-item"><a href="/pw/changepw.php"><span class="item-marker">&rsaquo;</span> Forgot your password?</a></li>
              <li class="list-help-item"><a href="<%= @metadata_information['technicalIDPadminEmail'] %>"><span class="item-marker">&rsaquo;</span> Need Help?</a></li>
              <li class="list-help-item"><a href="<%= @metadata_information['en']['idpInfoUrl'] %>"><span class="item-marker">&rsaquo;</span> Information page</a></li>
              <li class="list-help-item"><a href="<%= @metadata_information['en']['privacyPage'] %>"><span class="item-marker">&rsaquo;</span> Privacy policy</a></li>
              <li class="list-help-item"><a href="http://www.idem.garr.it"><span class="item-marker">&rsaquo;</span> Information about IDEM</a></li>
            </ul>
          </div>
          <%% } %>
        </div>
      </div>

      <footer>
        <div class="container container-footer">
          <p class="footer-text">The <%= @metadata_information['en']['orgDisplayName'] %>, <%= @metadata_information['en']['orgDescription'] %>now is a part of <strong>IDEM</strong> (<strong>IDE</strong>ntity <strong>M</strong>anagement for the access federated) to realize the Italian Authentication and Authorization Infrastructure on the GARR network.<br/>
          The <%= @metadata_information['en']['orgDisplayName'] %> releases credentials to provide access into this authentication system (Identity Provider) for his employees and researchers.</p>
          </div>
      </footer>
    
  </body>
</html>
