<%%@ taglib uri="urn:mace:shibboleth:2.0:idp:ui" prefix="idpui" %>
<%%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %>
<%%@ page import="edu.internet2.middleware.shibboleth.idp.util.HttpServletHelper" %>
<%%@ page import="org.opensaml.util.storage.StorageService" %>
<%%@ page import="edu.internet2.middleware.shibboleth.idp.authn.LoginContext" %>
<%%@ page import="edu.internet2.middleware.shibboleth.idp.authn.LoginHandler" %>
<%%@ page import="edu.internet2.middleware.shibboleth.common.relyingparty.RelyingPartyConfigurationManager" %>
<%%@ page import="org.opensaml.saml2.metadata.EntityDescriptor" %>
<%%@ page import="org.opensaml.saml2.metadata.ContactPerson" %>
<%%@ page import="org.opensaml.saml2.metadata.ContactPersonTypeEnumeration" %>
<%%@ page import="org.opensaml.saml2.metadata.RequestedAttribute" %>
<%%@ page import="java.util.List" %>
<%%@ page import="java.util.Locale"%>
<%%
   StorageService storageService = null;
   LoginContext loginContext = null;
   RelyingPartyConfigurationManager rpConfigMngr = null;
   EntityDescriptor metadata = null;
   
   try {
      storageService = HttpServletHelper.getStorageService(application);
      loginContext = HttpServletHelper.getLoginContext(storageService,application, request);
      rpConfigMngr = HttpServletHelper.getRelyingPartyConfigurationManager(application);
      metadata = HttpServletHelper.getRelyingPartyMetadata(loginContext.getRelyingPartyId(), rpConfigMngr);   
   }
   catch (Exception e) {
      // Do nothing
   }
%>
<!DOCTYPE html>

  <c:set var="language" value="${not empty param.language ? param.language : not empty language ? language : pageContext.request.locale.language}" scope="session" />
  <fmt:setLocale value="${language}" />
  <fmt:setBundle basename="messages"/>

  <%%@ taglib uri="urn:mace:shibboleth:2.0:idp:ui" prefix="idpui" %>
  <html lang="${language}">
    <head>
      <meta charset="utf-8" />
      <c:choose>
      <c:when test="${language == 'it'}">
        <title><%= metadata_information['it']['orgDisplayName'] %></title>
        <link href="<%= @metadata_information['it']['url_LogoOrg_32x32'] %>" rel="shortcut icon" type="image/x-icon" />
      </c:when>
      <c:otherwise>
        <title><%= metadata_information['en']['orgDisplayName'] %></title>
        <link href="<%= @metadata_information['en']['url_LogoOrg_32x32'] %>" rel="shortcut icon" type="image/x-icon" />
      </c:otherwise>
      </c:choose>
      <link rel="stylesheet" type="text/css" href="<%%= request.getContextPath()%>/login.css"/>
      <script language="javascript">
           function setParam(name, value) {
              var l = window.location;

              /* build params */
              var params = {};        
              var x = /(?:\??)([^=&?]+)=?([^&?]*)/g;        
              var s = l.search;
              for(var r = x.exec(s); r; r = x.exec(s)) {
                 r[1] = decodeURIComponent(r[1]);
                 if (!r[2]) r[2] = '%%';
                 params[r[1]] = r[2];
              }

              /* set param */
              params[name] = encodeURIComponent(value);

              /* build search */
              var search = [];
              for(var i in params) {
                 var p = encodeURIComponent(i);
                 var v = params[i];
                 if (v != '%%') p += '=' + v;
                 search.push(p);
              }
              search = search.join('&');

              /* execute search */
              l.search = search;
           }

           function getParameterByName(name) {
              name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
              var regex = new RegExp("[\\?&]" + name + "=([^&#]*)");
              var results = regex.exec(location.search);
              return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
           }
      </script>
    </head>

    <c:choose>
      <c:when test="${language == 'it'}">
        <c:set var="footer" value="L'<%= @metadata_information['it']['orgDisplayName'] %>, <%= @metadata_information['it']['orgDescription'] %> partecipa ad <strong>IDEM</strong> (<strong>IDE</strong>ntity <strong>M</strong>anagement federato per l'accesso ai servizi) per la realizzazione dell'Infrastruttura di Autenticazione e Autorizzazione federata della rete GARR.<br/>L'<%= @metadata_information['it']['orgDisplayName'] %> rilascia credenziali d'accesso per questo sistema di autenticazione (Identity Provider) ai propri dipendenti e ai ricercatori affiliati." />
      </c:when>
      <c:otherwise>
        <c:set var="footer" value="The <%= @metadata_information['en']['orgDisplayName'] %>, <%= @metadata_information['en']['orgDescription'] %>now is a part of <strong>IDEM</strong> (<strong>IDE</strong>ntity <strong>M</strong>anagement for the access federated) to realize the Italian Authentication and Authorization Infrastructure on the GARR network.<br/>The <%= @metadata_information['en']['orgDisplayName'] %> releases credentials to provide access into this authentication system (Identity Provider) for his employees and researchers." />
      </c:otherwise>
    </c:choose>

    <body><div class="wrapper">
        <div class="container">
          <header>
            <%% if ("true".equals(request.getParameter("spinfo"))) { %>
             <idpui:serviceLogo minWidth="40" minHeight="40">default</idpui:serviceLogo><br/>
             <idpui:serviceDescription>${spdescr}</idpui:serviceDescription><br />
             <a href="javascript:setParam('spinfo', 'false');"><span class="item-marker">&lsaquo;</span> <fmt:message key="goback"/></a>
            <%% } else { %>
              <c:choose>
              <c:when test="${language == 'it'}">
                <a id="logolink" class="logo" href="<%= metadata_information['it']['idpInfoUrl'] %>"><img id="logoimg" src="<%= metadata_information['it']['url_LogoOrg_160x120']%>" alt="<%= metadata_information['it']['orgDisplayName']%>"/></a><br/><%= metadata_information['it']['orgDisplayName']%>
              </c:when>
              <c:otherwise>
                <a id="logolink" class="logo" href="<%= metadata_information['en']['idpInfoUrl'] %>"><img id="logoimg" src="<%= metadata_information['en']['url_LogoOrg_160x120']%>" alt="<%= metadata_information['en']['orgDisplayName']%>"/></a><br/><%= metadata_information['en']['orgDisplayName']%>
              </c:otherwise>
              </c:choose>
            <%% } %>
          </header>
      
          <div class="content">
            <%% if ("true".equals(request.getParameter("spinfo"))) { %>
              <ul>
              <li><span class="item-marker">&rsaquo;</span> <b><fmt:message key="description"/>:</b><br/>
              <idpui:serviceDescription>${unknown}</idpui:serviceDescription></li>
              <li><span class="item-marker">&rsaquo;</span> <b><fmt:message key="organization"/>:</b><br/>
              <script language="javascript">
                if ('<idpui:organizationDisplayName />') { 
                  document.write('<idpui:organizationDisplayName />');
                }
                else if ('<idpui:organizationName />') { 
                  document.write('<idpui:organizationName />');
                }
                else {
                  document.write('${unknown}');
                }
              </script></li>
              <li><span class="item-marker">&rsaquo;</span> <b><fmt:message key="contacts"/>:</b><br/>
              <script language="javascript">
              <%%
                 String contactLinks = "";
                 try {
                   for (ContactPerson contact : metadata.getContactPersons()) {
                     if (ContactPersonTypeEnumeration.TECHNICAL.equals(contact.getType())) {
                       if (!"".equals(contactLinks)) {
                         contactLinks += ", ";
                       }
                       contactLinks += "<a href=\"" + contact.getEmailAddresses().get(0).getAddress() + "\">";
                       contactLinks += contact.getGivenName().getName() + " " + contact.getSurName().getName();
                       contactLinks += "</a>";
                     }
                   }
                 } catch (NullPointerException e){
                   contactLinks = "";
                 }
                 %>
                 var langNoContacts = "<fmt:message key="nocontacts"/>";
                 if ('<%%= contactLinks %>' == '') document.write(langNoContacts);
                 else document.write('<%%= contactLinks %>');
              </script></li>
              <li><span class="item-marker">&rsaquo;</span> <b><idpui:servicePrivacyURL cssId="spPrivacyURL" linkText="<fmt:message key="privacy"/>"><fmt:message key="noprivacy"/></idpui:servicePrivacyURL></b></li>
              <li><span class="item-marker">&rsaquo;</span> <b><idpui:serviceInformationURL cssId="spInfoURL" linkText="<fmt:message key="infopage"/>"><fmt:message key="noinfopage"/></idpui:serviceInformationURL></b></li>
              <li><span class="item-marker">&rsaquo;</span> <b><fmt:message key="requestedattrs"/>:</b><br/>
              <script language="javascript">
                var langPreLinkA = {
                  <% @metadata_information.each do |@l, @mi| %>
                  "<%= @l %>": "<%= @mi['idpInfoUrl'] %>",
                  <% end %>
                };
		var langPreLink = ("${language}" in langPreLinkA) ? langPreLinkA["${language}"] : langPreLinkA["en"];
                var langNoAttrs = "<fmt:message key="norequestedattrs"/>";

                <%%
                  String requestedAttributes = "";
                  try {
                    List<RequestedAttribute> itrReqAttr = metadata.getSPSSODescriptor("urn:oasis:names:tc:SAML:2.0:protocol").getDefaultAttributeConsumingService().getRequestAttributes();
                    for (RequestedAttribute reqAttr : itrReqAttr) {
                      if (reqAttr.isRequired()) {
                        if (!"".equals(requestedAttributes)) {
                          requestedAttributes += ", ";
                        }
                              
                        if ("".equals(reqAttr.getFriendlyName())) {
                          requestedAttributes += reqAttr.getName();
                        }
                        else {
                          requestedAttributes += "<a href=\"' + langPreLink + '#" + reqAttr.getFriendlyName() + "\">" + reqAttr.getFriendlyName() + "</a>";
                        }
                      }
                    }
                  } catch (NullPointerException e) {
                    requestedAttributes = "";
                  }
            
                  if ("".equals(requestedAttributes)) {
                    %>
                    document.write(langNoAttrs);
                    <%%
                  } else {
                    %>
                    document.write('<%%= requestedAttributes %>');
                  <%%
                  }
                %>
              </script></li>
              <li><span class="item-marker">&rsaquo;</span> <b><fmt:message key="optionalattrs"/>:</b><br/>
              <script language="javascript">
                 var langPreLinkA = {
                   <% @metadata_information.each do |@l, @mi| %>
                   "<%= @l %>": "<%= @mi['idpInfoUrl'] %>",
                   <% end %>
                 };
		 var langPreLink = ("${language}" in langPreLinkA) ? langPreLinkA["${language}"] : langPreLinkA["en"];
                 var langNoAttrs = "<fmt:message key="nooptionalattrs"/>";

                 <%%
                   String desiredAttributes = "";
                   try {
                     List<RequestedAttribute> itrReqAttr = metadata.getSPSSODescriptor("urn:oasis:names:tc:SAML:2.0:protocol").getDefaultAttributeConsumingService().getRequestAttributes();
                     for (RequestedAttribute reqAttr : itrReqAttr) {
                       if (!reqAttr.isRequired()) {
                         if (!"".equals(desiredAttributes)) {
                           desiredAttributes += ", ";
                         }

                         if ("".equals(reqAttr.getFriendlyName())) {
                           desiredAttributes += reqAttr.getName();
                         }
                         else {
                           desiredAttributes += "<a href=\"' + langPreLink + '#" + reqAttr.getFriendlyName() + "\">" + reqAttr.getFriendlyName() + "</a>";
                         }
                       }
                     }
                   } catch (NullPointerException e) {
                     desiredAttributes = "";
                   }
                   if ("".equals(desiredAttributes)) {
                     %>
                     document.write(langNoAttrs);
                     <%%
                   } else {
                     %>
                     document.write('<%%= desiredAttributes %>');
                     <%%
                   }
                 %>
              </script></li>           
              </ul>
            <%% } else { %>
            <div class="column one">
              <%% if (request.getAttribute("actionUrl") != null){ %>
                <form id="login" action="<%%= request.getAttribute("actionUrl") %>" method="post">
              <%% } else { %>
                <form id="login" action="j_security_check" method="post">
              <%% } %>

                <%% if ("true".equals(request.getAttribute("loginFailed"))) { %>
                <section>
                 <%%
                 // Viene richiesto se il login e' fallito e viene segnalato errore di autenticazione
                 if (request.getAttribute(LoginHandler.AUTHENTICATION_EXCEPTION_KEY) != null) {
                    Throwable ex = (Throwable)request.getAttribute(LoginHandler.AUTHENTICATION_EXCEPTION_KEY);
                    if (ex.getMessage().contains("PASSWORD_EXPIRED")) {
                       %>
                       <p class="form-element form-error"><fmt:message key="pwdexpired"/>. <a href='/pw/changepw.php'><fmt:message key="changepwd"/></a>.</p>
                       <%%
                    } else if (ex.getMessage().contains("CHANGE_AFTER_RESET")) {
                       %>
                       <p class="form-element form-error"><fmt:message key="invalidpwd"/>. <a href='/pw/changepw.php'><fmt:message key="changepwd"/></a>.</p>
                       <%%
                     } else if (ex.getMessage().contains("ACCOUNT_LOCKED")){
                       %>
                       <p class="form-element form-error"><fmt:message key="locked"/>.</p>
                       <%%
                     } else {
                       %>
                       <p class="form-element form-error"><fmt:message key="wrong"/>.</p>
                       <%%
                     }
                  }
                  %>
                </section>
                <%% } %>

                <legend id="spName">
                  <fmt:message key="loginto"/> <idpui:serviceName/>
                </legend>

                <section>
                  <label for="username"><fmt:message key="username"/></label>
                  <input class="form-element form-field" name="j_username" type="text" value="">
                </section>

                <section>
                  <label for="password"><fmt:message key="password"/></label>
                  <input class="form-element form-field" name="j_password" type="password" value="">
                </section>

                <% if @install_uapprove==true -%>
                <section>
                  <input id="uApprove.consent-revocation" type="checkbox" name="uApprove.consent-revocation" value="true"/>
                  <label style="left: 20px; width: auto" for="uApprove.consent-revocation"><fmt:message key="clearconsent"/></label>
                </section>
                <% end -%>

                <section>
                  <button class="form-element form-button" type="submit"><fmt:message key="login"/></button>
                </section>
              </form>
              
              <%%
                //
                //    SP Description & Logo (optional)
                //    These idpui lines will display added information (if available
                //    in the metadata) about the Service Provider (SP) that requested
                //    authentication. These idpui lines are "active" in this example
                //    (not commented out) -- this extra SP info will be displayed.
                //    Remove or comment out these lines to stop the display of the
                //    added SP information.
                //
                //    Documentation: 
                //      https://wiki.shibboleth.net/confluence/display/SHIB2/IdPAuthUserPassLoginPage
                //
                //    Example:
              %>
                    <p>
                      <idpui:serviceLogo minWidth="40" minHeight="40"><fmt:message key="spdescr"/></idpui:serviceLogo><br/>
                      <idpui:serviceDescription><fmt:message key="spdescr"/></idpui:serviceDescription><br />
                      <a href="javascript:setParam('spinfo', 'true');"><span class="item-marker">&rsaquo;</span> <fmt:message key="moreinfo"/></a>
                    </p>

          </div>
          <div class="column two">
            <ul class="list list-help"><a href="http://www.idem.garr.it"><img src="<%%= request.getContextPath()%>/images/IDEM_logo.png" alt="${idem}" style="width: 100px"/></a>
              <li class="list-help-item"><a href="/pw/changepw.php"><span class="item-marker">&rsaquo;</span> <fmt:message key="forgot"/></a></li>
              <li class="list-help-item"><a href="<%= @metadata_information['technicalIDPadminEmail'] %>"><span class="item-marker">&rsaquo;</span> <fmt:message key="help"/></a></li>
              <li class="list-help-item"><a href="<%= @metadata_information['en']['idpInfoUrl'] %>"><span class="item-marker">&rsaquo;</span> <fmt:message key="info"/></a></li>
              <li class="list-help-item"><a href="<%= @metadata_information['en']['privacyPage'] %>"><span class="item-marker">&rsaquo;</span> <fmt:message key="privacy"/></a></li>
              <li class="list-help-item"><a href="http://www.idem.garr.it"><span class="item-marker">&rsaquo;</span> <fmt:message key="ideminfo"/></a></li>
            </ul>
          </div>
          <%% } %>
        </div>
      </div>

      <footer>
        <div class="container container-footer">
          <p class="footer-text">${footer}</p>
          </div>
      </footer>
    
  </body>
</html>
